<% if @chef.errors.any? %>
<% @chef.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<%end%>
<%end%>

<%= form_for @chef do |f| %>
 Name: <%= f.text_field :name %><br>
 Password: <%= f.text_field :password %><br>
 Email: <%= f.text_field :email %><br>
 <%= submit_tag 'Create Chef' %>
 <%end%>
