<h1>All the Chefs</h1>
<% @chefs.each do |chef| %>
    <br>
    <a href="/chefs/<%=chef.id%>"><%=chef.name%></a>
    <br>
    <div id="chef-<%=chef.id%>">
    <br>
    <button id="<%=chef.id%>" class="js-more" data-id="<%= chef.id %>">More Info</button>
    </div>
    <br>
<%end%>

