<h1>Chef <%=@chef.name%></h1>

<% @chef.dishes.less_than_30.each do |dish| %>
<ul>
  <li><a href="<%=@chef.id%>/dishes/<%=dish.id%>"><%= dish.name%></a></li>
</ul>
<%end%>
<br>
<% @chef.dishes.less_than_60_more_than_30.each do |dish| %>
<ul>
  <li><a href="<%=@chef.id%>/dishes/<%=dish.id%>"><%= dish.name%></a></li>
</ul>
<%end%>
<br>
<% @chef.dishes.more_than_60.each do |dish| %>
<ul>
  <li><a href="<%=@chef.id%>/dishes/<%=dish.id%>"><%= dish.name%></a></li>
</ul>
<%end%>

<%= link_to "Add Dish", new_dish_path %>
