<h1>Chef <%=@chef.name%></h1>
<br>

<button id="favoritesHead" onclick="renderFavorites()"> Show Favorites </button>

<br>
<% if @chef.dishes.any? %>
  Quick Dishes:
  <br>
  <% @chef.dishes.less_than_30.each do |dish| %>
  <ul>
    <li><a href="<%=@chef.id%>/dishes/<%=dish.id%>"><%= dish.name%></a></li>
  </ul>
  <%end%>
  <br>
  Little More Time:
  <br>
  <% @chef.dishes.less_than_60.more_than_30.each do |dish| %>
    <ul>
      <li><a href="<%=@chef.id%>/dishes/<%=dish.id%>"><%= dish.name%></a></li>
    </ul>
<%end%>
<br>
  Longer than an Hour:
<br>
  <% @chef.dishes.more_than_60.each do |dish| %>
  <ul>
    <li><a href="<%=@chef.id%>/dishes/<%=dish.id%>"><%= dish.name%></a></li>
  </ul>
  <%end%>
<%else%>
  <p> No dishes yet! </p>
<%end%>
<!--<%= link_to "New Recipe", new_dish_path(current_user), :id => "new-dish" %>-->
<a id="new-dish" href="/chefs/<%=@chef.id%>/dishes/new">Add a dish!</a>
<br>





