<%= form_for @dish do |f| %>
  Name:<%= f.text_field :name %>
  Cook Time:<%= f.text_field :cook_time %>

  <!--<%= f.collection_select :ingredient_ids, Ingredient.all, :name, :name %>-->
  <br>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  <br>
  <%= f.label "Quantity" %>
  <%= f.fields_for :dish_ingredients, DishIngredient.new do |quant| %>
    <%= quant.number_field :quantity %>
    <%end%>
  <br>
  <fieldset>
  <h3>Add new ingredient</h3><br>
  <%= f.label "Ingredient 1" %>
  <%= f.fields_for :ingredients, Ingredient.new do |ingredient_fields| %>
    <%= ingredient_fields.text_field :name %>
  <%end%>

  <%= f.label "Ingredient 2" %>
  <%= f.fields_for :ingredients, Ingredient.new do |ingredient_fields| %>
    <%= ingredient_fields.text_field :name %>
  <%end%>

  <%= f.label "Ingredient 3" %>
  <%= f.fields_for :ingredients, Ingredient.new do |ingredient_fields| %>
    <%= ingredient_fields.text_field :name %>
  <%end%>
  </p>
</fieldset>

   <%= submit_tag 'Create Dish' %>

<%end%>
