<%= form_for @dish do |f| %>
  Name:<%= f.text_field :name %>
  Cook Time:<%= f.text_field :cook_time %>
  <br>
  <!--<%= f.collection_select :ingredient_ids, Ingredient.all, :name, :name %>-->
  <% if Ingredient.all != [] %>
  <br>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  <br>
  <%= f.label "Quantity" %>
  <%= f.fields_for :dish_ingredients, DishIngredient.new do |quant| %>
    <%= quant.number_field :quantity %>
    <%end%>
  <%end%>
  <br>
  <!-- something is wrong here... creates two dish_ingredients instead of sharing 1. come back to this -->
  <fieldset>
  <h3>Add new ingredients</h3><br>
  <%= f.label "Ingredient 1" %>
  <%= f.fields_for :ingredients, Ingredient.new do |ingredient_fields| %>
    <%= ingredient_fields.text_field :name %>
    <%= f.label "Quantity" %>
    <%= f.fields_for :dish_ingredients, DishIngredient.new do |quant| %>
      <%= quant.number_field :quantity %>
      <%end%>
  <%end%>
<br>
</fieldset>

   <%= submit_tag 'Create Dish' %>

<%end%>
