<% if @dish.errors.any? %>
<% @dish.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<%end%>
<%end%>

<%= form_for @dish do |f| %>
  Name:<%= f.text_field :name %>
  Cook Time:<%= f.number_field :cook_time %> minutes
  <br>

  <fieldset>
  <h3>Add new ingredients</h3><br>

  <%= f.label "Quantity" %>
  <%= f.fields_for :dish_ingredients, @dish.dish_ingredients.new do |dish_ingredient_fields| %>
    <%= render 'ingredients/fields', :dish_ingredient_fields => dish_ingredient_fields %>
  <%end%>
<br>

</fieldset>
<!--<button id="button" data-url="/dishes/ingredients/new"> add another ingredient form</button>-->
<%= submit_tag 'Submit Dish' %>
<%end%>

<div id="dishResult">
  <h2 id="dishName"></h2>
  <span id="dishCookTime"></span>
  <p id="dishIngredientName"></p>
  <p id="dishIngredientQuantity"</p>
</div>









<!-- lets use this for the ingredients addition NOT DONE-->

<!--<script type="text/javascript" charset="utf-8">
    $(function(){
      $('#new_dish').on("submit", function(event){
        event.preventDefault();
        let url = this.action
        console.log(url)
        let values = $(this).serialize();
        console.log(values)
        let posting = $.post(url, values);
        data = {
          'authenticity token': $("input[name='authenticity_token']").val(),
          'dish':{
            'dishName': $("#dish_name").val(),
            'dishCookTime': $("#dish_cook_time").val(),
            'dishIngredientName': $("#dish_dish_ingredients_attributes_0_ingredients_name").val(),
            'dishIngredientQuantity': $("#dish_dish_ingredients_attributes_0_quantity").val()
          }
        }
      });
    });
</script>-->
