<% if @dish.errors.any? %>
<% @dish.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<%end%>
<%end%>

<%= form_for @dish do |f| %>
  Name:<%= f.text_field :name %>
  Cook Time:<%= f.number_field :cook_time %> minutes
  <br>

  <fieldset>
  <h3>Add new ingredients</h3><br>

  <%= f.label "Quantity" %>
  <%= f.fields_for :dish_ingredients, @dish.dish_ingredients.new do |dish_ingredient_fields| %>
    <%= dish_ingredient_fields.number_field :quantity %>
    <%= dish_ingredient_fields.label "Ingredient" %>
    <%= dish_ingredient_fields.fields_for :ingredients, @dish.ingredients.new do |name| %>
      <%= name.text_field :name %>
      <%end%>
  <%end%>
<br>
</fieldset>
   <%= submit_tag 'Submit Dish' %>
<%end%>


<h1>New Dish</h1>

<div id="dishResult">
  <h2 id="dishName"></h2>
  <span id="dishCookTime"></span>
  <p id="dishIngredients"></p>
</div>

<script type="text/javasccript" charset="utf-8">
    $(function(){
      $('form').submit(function(event){
        event.preventDefault();
        let values = $(this).serialize();
        let posting = $.post('/dishes', values);
        posting.done(function(data){
          let dish = data;
          $("#dishName").text(dish["name"]);
          $("#dishCookTime").text(dish["cook_time"]);
          $("#dishIngredients").text(dish["ingredients"]);
        });
      });
    });
</script>
