<h1><%=@dish.name %></h1>
<h2><%=@dish.cook_time %> minutes</h2>
<br>
<% @dish.dish_ingredients.each.with_index do |di, index| %>
<ul>
    <li><%= di.quantity %> <%= di.ingredient.name %></li>
</ul>
<%end%>
<br>
<%= link_to "Edit", edit_dish_path(@dish) %><br>
<%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: 'are you sure?'} %>

<script type="text/javascript" charset="utf-8">
  function
</script>
