<h1><%=@dish.name %></h1>
<h2><%=@dish.cook_time %> minutes</h2>
<br>
<% @dish.dish_ingredients.each.with_index do |ingredient, index| %>
<ul>
    <li><%= ingredient.quantity %> <%= @dish.ingredients[index].name %></li>
</ul>
<%end%>
<br>
<%= link_to "Edit", edit_dish_path(@dish) %><br>
<%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: 'are you sure?'} %>
