<h1><%=@dish.name %></h1>
<h2><%=@dish.cook_time %> minutes</h2>
<br>
<% @dish.dish_ingredients.each.with_index do |ingredient, index| %>
<ul>
  <% if index.even? %>
    <li><%= @dish.dish_ingredients[index].quantity %> <%= @dish.dish_ingredients[index+1].ingredient.name %></li> <!-- super ugly way -->
    <%else%>
    ...
  <%end%>
</ul>
<%end%>
<br>
<%= link_to "Edit", edit_dish_path(@dish) %><br>
<%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: 'are you sure?'} %>
