<a href="#" class="js-next" data-chef="<%=@dish.chef.id%>" data-id="<%=@dish.id%>">Next Dish</a>
<h2 class="dishName"><%= @dish.name%></h2>
<p class="dishCookTime"><%= @dish.cook_time%> minutes</p>
<div class="ingredients">
  <%= render 'ingredients/ingredients' %>
</div>

<%= form_for @dish do |f| %>
  <fieldset>
  <h3>Add new ingredients</h3><br>
  <%= f.label "Quantity" %>
  <%= f.fields_for :dish_ingredients, @dish.dish_ingredients.new do |dish_ingredient_fields| %>
    <%= dish_ingredient_fields.number_field :quantity %>
    <%= dish_ingredient_fields.label "Ingredient" %>
    <%= dish_ingredient_fields.fields_for :ingredients, @dish.ingredients.new do |name| %>
      <%= name.text_field :name %>
      <%end%>
    <%end%>
<br>
</fieldset>
<%= submit_tag 'Submit Ingredient', id: "new_ingredient" %>
<%end%>

<%= link_to "Edit", edit_dish_path(@dish) %><br>
<%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: 'are you sure?'} %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-next").on("click", function(event) {
      event.preventDefault()
      let chefId = parseInt($(".js-next").attr("data-chef"));
      let nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/chefs/" + chefId + "/dishes/" + nextId + ".json", function(data){
        let dish = data;
        $(".dishName").text(dish["name"]);
        $(".dishCookTime").text(dish["cook_time"]);
        /$(".dishItem").text(dish["ingredients"]) this probs needs work/
        $(".js-next").attr("data-id", dish["id"]);
        <!-- not done -->

      })
    })
  });
</script>
