<h1><%=@dish.name %></h1>
<h2><%=@dish.cook_time %> minutes</h2>
<br>
<% @dish.ingredients.each.with_index do |ingredient, index| %>
<ul>
  <li><%= @dish.dish_ingredients[index].quantity %> <%= ingredient.name %></li> <!-- super ugly way -->
</ul>
<%end%>
<br>
<%= link_to "Edit", edit_dish_path(@dish) %><br>
<%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: 'are you sure?'} %>
